.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}
.mt-15 {
  margin-top: 15px;
}
.mr-5 {
  margin-right: 5px;
}
button {
  cursor: pointer;
}
.text-center span {
  cursor: pointer;
}
.fa-times-circle {
  cursor: pointer;
}
.hide {
  display: none;
}
.checked-sort {
  display: flex;
  justify-content: space-between;
}
.mr {
  margin-left: 70px;
}
.sort_selected {
  background-color: rgb(192, 185, 185);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
